body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f9;
    padding: 50px;
}

h1 {
    color: #24292e; /* Cor padrão do GitHub */
}

button {
    padding: 10px 20px;
    background-color: #2ea44f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}